# <div align="center">ADS 501 Module 2: Conditional Statements Assignment

##  <font color='blue'>Part 1: Introduction to Conditional Statements</font>

### 1.What are conditional statements in Python and what are the different types?

###### Type your answer here.

### 2. Let x = 8. Use an  <font color='blue'>'if'</font> statement to test whether x is less than 10. If conditions are met, print "x is less than 10".

### 3. Let x = 16. Use an  <font color='blue'>'if'</font> and <font color='blue'>'elif'</font> statement to print messages according to the following conditions:

    1. If the value of 'x' is greater than 20, print "x is greater than 20".
    2. If the value of 'x' is greater than 10 but less than 20, print "x is greater than 10 but less than or equal to 20"

### 4. Let x = 6 and y = 3. Use a <font color='blue'>'nested conditional statement'</font> statement to print messages according to the following conditions:

1. If the value of 'x' and 'y' and greater than 5, print "x and y are both greater than 5".
2. If 'x' is greater than 5 but 'y' is not greater than 5, print "only x is greater than 5"
3. If 'x' is not greater than 5, print "x is not greater than 5".

##  <font color='blue'>Part 2: Data Cleaning with Conditional Statements</font>

### In Part 2 of this assignment you peform data cleaning techniques using conditional statements on a global inequality in education dataset.

### Inequality in Education ADS 501 Dataset Metadata

#### Dataset Glossary (Column-wise)
###### •	ISO3 - ISO3 for the Country/Territory
###### •	Country - Name of the Country/Territory
###### •	Human Development Groups - Human Development Groups
###### •	HDI Rank (2021) - Human Development Index Rank for 2021
###### •	Inequality in Education (2021) - Inequality in Education for 2021

In [ ]:
import pandas as pd

In [ ]:
#read in csv file
data = pd.read_csv('...\\Inequality_In_Education_ADS501.csv')

In [ ]:
data.head()

In [ ]:
data.describe()

In [ ]:
# Count missing values per column
missing_values = data.isnull().sum()

print('Missing Values Per Column')
print(missing_values)

### 1. Note how there are 19 missing values in the 'Inequality in Education (2021) column.  Replace the missing values with the column mean using a conditional statement.

In [ ]:
# Replace null values in the column 'Inequality in Education (2021)'' with column mean


# Question 1- Insert Conditional Statement

    
#Print DF 
print('DF After Filling Missing Values')
print(data)

In [ ]:
# Double check 'Inequality in Education (2021)' no longer has missing values
missing_values = data.isnull().sum()

print('Missing Values Per Column after Mean Imputation')
print(missing_values)

###  Note that the 'Level' column has 195 missing values (NaN). 

### 2. Check the new column mean for 'Inequality in Education'.

In [ ]:
# Question 2 - calculate new mean after imputation

###  3. Input either "red" or "green" in the 'Level' column depending on the values in the 'Inequality in Education      (2021) column. If the value in the 'Inequality in Education (2021) column is below the column mean, assign "red". For all other values, assign "green".

In [ ]:
# New mean value


# Question 3:
#Conditionally assign 'red' or 'green' to the 'Level' column based on the values in 'Inequality in Education (2021)



# Print updated DataFrame
print("\nUpdated DataFrame:")
print(data)

### 3. Double check 'Level' to ensure it no longer has any missing values.

In [ ]:
# Count missing values per column
missing_values = data.isnull().sum()

print('Missing Values After Data Cleaning')
print(missing_values)